@import 'base';
 // Import the mixins
 @import "sass-css3-mixins/css3-mixins.scss";

@import 'compass/css3/transition';

$inline-header-padding: 		15px;
$hr-rule-top-colour: 			#414141;
$hr-rule-bottom-colour:			#242424;
$jumbotron-side-padding: 		40px;
$site-bg:	 					#343434;
$letter-spacing:				1px;
$lock-in-text-height: 			40px;

body {
	letter-spacing:				$letter-spacing;
	background: 				url('../images/flower-bg.jpg') center top no-repeat;
	background-size:			100%;
}

.jumbotron {
	padding-left: 				$jumbotron-side-padding;
	padding-right: 				$jumbotron-side-padding;
	padding-bottom: 			0;
	margin-bottom: 				0;
	padding-top:				28px;
}

p {
	margin-bottom:				4px;
}

.container {
	padding-left: 				$jumbotron-side-padding;
	padding-right: 				$jumbotron-side-padding;
	background-color: 			$site-bg;
	padding-bottom: 			20px;
	margin-bottom: 				0;
	padding-top:				28px;
	box-shadow:					0px 0px 30px 20px rgba(10, 10, 10, 0.8);
}

.bottom-hr {
	border-bottom: 				1px solid $hr-rule-top-colour;

	&:after {
		border-bottom: 			1px solid $hr-rule-bottom-colour;
		width: 					100%;
		top: 					5px;
		position:				relative;
		display: 				inline-block;
		content: 				'';
	}
	&.row:after {
		display: 				block;
		top: 					1px;
	}
}



.navbar-header {
	float: 						none;
	display: 					inline-block;
}

.navbar-brand {
	background: 				transparent url('../images/walton_st_logo.png') top left no-repeat;
	text-indent:				-9999px;
	width: 						123px;
	height: 					55px;
}

h2 {
	text-transform: 			uppercase;
}

.separator {
	display: 					inline-block;
	//padding-right: 			$inline-header-padding;
	padding-right: 				6px !important;
	line-height:				1em;
	
	& ~ .separator {
		border-left: 			1px solid $brand-primary;
		//padding-left: 		$inline-header-padding;
		padding-left: 			8px;
	}
}

h3 {
	font-family: 				$font-family-sans-serif-med;
	text-transform: 			uppercase;
	font-size: 					$font-size-base;
	margin: 					18px 0 0;
}

header {
	& h3 {
		font-family: 				$font-family-sans-serif-reg;
		margin-top:					0;
	}

	& h2 {
		margin-top:					14px;
		margin-bottom:				14px;
	}
}

.key-panel-row {
	&:before,
	&:after {
		content: " ";
		display: table;
		top: 0px;
	}
	& .key-panel {
		background: 			$site-bg url('../images/key-tag-no-goal.png') center top no-repeat;
		height: 				178px;
		padding: 				0;
		position: 				relative;

		& div {
			position: 			absolute;
			top: 				0px;
			clip: 				rect(178px, 500px, 178px, 0px);
			@include 			transition(all 0.2s ease-in-out);
			//transition: 		all 0.2s ease-in-out;
			height: 			100%;
			width:				100%;
			background-color: 	$brand-primary;
			opacity: 			0;

			& p,
			& h4 {
				color:			$gray-dark;
				max-width:		120px;
				margin:			auto;
			}

			& h4 {
				font-size:		$font-size-h5;
				margin-top:		24px;
				margin-bottom:	6px;
			}
		}

		& p + div {
			/*margin-top:			-($lock-in-text-height - 1);*/
		}

		&.lock-in {
			background-image:			url('../images/key-tag-lock-in.png');
			cursor:						pointer;

			& div {
				background-image: 		url('../images/key-tag-lock-in.png');
				background-position:	center -178px;
				background-repeat:		no-repeat;
				background-color: $brand-tertiary;
			}

			& p {
				height: 			$lock-in-text-height;
				width: 				140px;
				margin: 			auto;
				position: 			absolute;
				top: 				50%;
				margin: 			auto;
				@include            transform(translate3d(-50%, -50%,0));
				left:				50%;
				color:				#FFFFFF;
			}
		}

		&.goal > h4 {
			text-transform:			uppercase;
			font-size:				$font-size-h3;
			color:	 				$site-bg;
			position: 				absolute;
			top: 					50%;
			left: 					50%;
			margin: 				auto;
			@include                transform(translate3d(-44%, -20%, 0));
		}

		&:hover div {
			clip: 				rect(0px, 500px, 178px, 0px);
			opacity: 			1;
		}

		&.goal {
			background:	 		transparent url('../images/key-tag.png') center center no-repeat;
		}

		& ~ .key-panel {
			& div {
				left:				1px;
				padding-right: 		1px;
			}

			&:after,
			&:before {
				border-left: 		1px solid $hr-rule-bottom-colour;
				position: 			absolute;
				height:				86%;
				left: 				0px;
				top: 				7%;
				content: 			'';
			}

			&:before {			
				border-color: 	$hr-rule-top-colour;
				left: 			1px;
				display: 		inline-block;
			}
			
			&:hover + .key-panel[class~=goal]:after {
				border:	 		none;
			}
		}
	}
}

.lead {
	font-size: 					$font-size-base;
	font-family:				$font-family-sans-serif-reg;
	text-transform: 			uppercase;
	margin-bottom:				6px;
}

footer {
	margin-top: 20px;
	& #goto-top {
		background: 				transparent url('../images/goto-top.png') top left no-repeat;
		width: 						44px;
		height: 					46px;
		display: 					inline-block;
		text-indent: 				-9999px;
		&:hover,
		&:active {
			background-position: 	0px -46px;
		}
	}

	& .list-inline {
		margin-top:					-30px;
		font-size: 					10px;

		&.pull-left a {
			text-decoration:		none;
			border-bottom:			1px $text-color solid;

			&:hover {
				text-decoration:	none;
				border-bottom:		none;
			}
		}

		& a {
			font-family:			$font-family-sans-serif-reg;
			color:					$text-color;
		}

		& .separator ~ .separator {
			border-color: 			$text-color
		}
	}	
}

.social-icons {
	& > ul {
		position: 						relative;
		@include                        transform(translateX(-46.5%));
		left: 							50%;
		margin-top:						16px;
		margin-bottom:					0px;
		width:							110%;
		margin-left: 					0px;
		& li {
			line-height:				18px;
			vertical-align: 			middle;
		}

		& .social-icon {
			width:						18px;
			height:						18px;
			padding:					0;

			& a {
				display:				block;
				width:					100%;
				height:					100%;
			}
			&.twitter {
				background:				url('../images/icon-twitter.png') no-repeat top left;
			}
			&.facebook {
				background:				url('../images/icon-facebook.png') no-repeat top left;
			}
			&.email {
				background:				url('../images/icon-email.png') no-repeat top left;
			}
			&.dark {
				height: 				23px;
				width: 					23px;
				margin-left: 			8px;
			}
			&.dark.twitter {
				background:				url('../images/icon-twitter-dark.png') no-repeat top left;
			}
			&.dark.facebook {
				background:				url('../images/icon-facebook-dark.png') no-repeat top left;
			}
			&.dark.email {
				background:				url('../images/icon-email-dark.png') no-repeat top left;
			}
		}
	}
}

#walton-street_entry {
	z-index:							2000;
	position:							relative;
	background:							$brand_primary;
	width:								340px;
	padding: 							4px 20px 20px;

	&.social-icons {
		margin-left: -17px;
		margin-bottom: 10px;
	}
	& h3 {
		padding-top:					60px;
		color:							$site-bg;
		text-align:						center;
		background: 					transparent url('../images/key-logo-90.png') top center no-repeat;
		line-height:					1.2em;
		margin-bottom:					18px;
	}

	& .form-group {

		margin-bottom:					5px;
		& input[type=text],
		& textarea {
			width:						100%;			
			padding:					10px;
			background:					$site-bg;
			border:						none;
			line-height:				1.3em;
			color:						$brand_primary;
		}

		::-webkit-input-placeholder,
		:-moz-placeholder,
		::-moz-placeholder,
		:-ms-input-placeholder {  
		   color:						$brand_primary;
		}

		& textarea {
			height:						235px;
		}

		& p {
			padding:					0;
			color:						$site-bg;
			font-size:					$font-size-small;
			line-height:				1.1em;
			margin-top:					10px;
		}

		& .submit {
			font-size:					$font-size-large;
			padding:					10px 0px;
			background:					$site-bg;
			border:						none;
			line-height:				1.3em;
			color:						$brand_primary;
		}

		& .submit:after {
			clear: both;
			content: '';
		}
	}
}

@media(max-width:767px){
	#walton-street_entry {
		width:							100%;
		& h3 {
			background-image:			url('../images/key-logo-90-small.png');
			padding-top:				40px;
			font-size:					12px;
		}
		& .form-group {
			& textarea {
				height:					180px;
			}

			& p {
				font-size:				10px;
				margin-right:			8px;
			}
		}

	}

	.key-panel-row {
		& .key-panel {
			margin-bottom: 					0;
			border-bottom: 				1px solid $hr-rule-bottom-colour;
			&.lock-in {
				& p {
//					height: 			120px;
				}
			}
			& ~ .key-panel {
				border-left: 			none;
				border-top: 			1px solid $hr-rule-top-colour;

				&:last-of-type {
				border-bottom:none;
				}
				&:before,
				&:after {
					content: 			none;
					border:				none;
				}
			}

		}
	}

	header {
		& h2 {
			font-size: 					$font-size-h4;
		}

		.navbar-toggle {
			display: 					none;
		}
	}

	footer {
		& .list-inline {
			margin-top:					0;
			float: 						none !important;
			width:						auto;
			display:					inline-block;
			left:						50%;
			@include                    transform(translateX(-50%));
			position:					relative;
			margin:						20px auto 10px auto;
		}

		& div > .list-inline {
			margin-top:					20px;
			& ~ .list-inline {
				margin-top:				0;
			}
		}
	}
}

@media(max-height:481px){
	#walton-street_entry {
		& .form-group {
			& textarea {
				height:					120px;
			}
		}
	}
}
#errors {
	position: absolute;
	top: 50%;
	background: rgba(255,255,255,.9);
	z-index: 10;
	@include							transform(translate3d(-50%, -50%, 0));
	padding: 20px;
	left: 50%;
	width: 80%;
	& h3 {
		padding-top: 					0;
		background:						none;
	}
}

#oklink {
	background: 						$site-bg;
	text-align:							center;
	padding: 							10px;
	width: 								60px;
	display:							inline-block;
	margin-top: 						20px;
	position: 							relative;
	left:								50%;
	@include							transform(translateX(-50%));
}

#tsandcs {
	background: 						$brand_primary;
	padding:							4px 20px 20px;
	& * {
		color:							$site_bg;
	}
	& h2 {
		font-size:						$font_size_h4;
	}

	& a {
		text-decoration:				underline;
	}
}